@using StefanShopWeb.Data
@model  StefanShopWeb.ViewModels.NewsLetterEditViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h1>Edit Newsletter</h1>



<form method="post" enctype="multipart/form-data">

    Title:
    <br />
    <input asp-for="Title" /> <br /><span asp-validation-for="Title"></span><br />



    Content:
    <br />
    <textarea rows="4" cols="25" asp-for="Content"></textarea>



    <hr />

    <button type="submit">Spara</button>
</form>