@using StefanShopWeb.ViewModels
@using StefanShopWeb.Data
@model StefanShopWeb.ViewModels.NewsLetterIndexViewModel

@{
    ViewBag.Title = "title";
}

<div class="col-lg-9 ">
    <a asp-controller="NewsLetter" asp-action="New" class="btn btn-secondary" role="button" aria-pressed="true">
        Skapa nytt
    </a>

    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <table class="table">
                    <thead>
                    
                    <tr>
                        <th scope="col">Titel</th>
                        <th scope="col">Innehåll</th>
                        <th scope="col">Skickat</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var newsLetter in Model.NewsLetter)
                    {
                        <tr>
                            <th scope="row">@newsLetter.Title</th>
                            <td>@newsLetter.Content</td>
                            <td>@newsLetter.IsSent</td>
                            <td><a asp-action="Edit" asp-route-id="@newsLetter.Id">Edit</a></td>
                        </tr>
                    }
                    </tbody>
                    
                </table>

            </div>
        </div>
    </div>
</div>


