@model StefanShopWeb.ViewModels.NewsLetterNewViewModel
@{
    ViewData["Title"] = "";
}
<h1>Nytt newsletter</h1>


<form method="post" enctype="multipart/form-data">

    <div>
        <label asp-for="Title">Titel</label>
        <input class="form-control" asp-for="Title">
        <span asp-validation-for="Title" class="field-validation-error"></span>
    </div>

    <div>
        <label asp-for="Content">Content</label>
        <textarea class="form-control" asp-for="Content"></textarea>
        <span asp-validation-for="Content" class="field-validation-error"></span>
    </div>

        <button type="submit" class="btn btn-danger">Spara</button>

</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/jquery.min.js"></script>

