@model StefanShopWeb.ViewModels.NewsLetterNewViewModel
@{
    ViewData["Title"] = "";
}
<h1>Nytt newsletter</h1>


<form method="post" enctype="multipart/form-data">

    Title:
    <br />
    <input asp-for="Title" /> <br /><span asp-validation-for="Title"></span><br />


    Content:
    <br />
    <textarea rows="4" cols="25" asp-for="Content"></textarea>
    <br />


    <hr />

    <button type="submit">Spara</button>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/jquery.min.js"></script>

