@using StefanShopWeb.Data
@model StefanShopWeb.ViewModels.AdminEditCategoryViewModel

@{ ViewData["Title"] = "Edit Category"; }

<h1>Edit Category</h1>


<form method="post" asp-controller="Admin" asp-action="EditCategory" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="CategoryName" class="text-uppercase">Namn</label>
        <input asp-for="CategoryName" class="form-control">
        <span asp-validation-for="CategoryName" class="field-validation-error"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="text-uppercase">Beskrivning</label>
        <input asp-for="Description" class="form-control">
        <span asp-validation-for="Description" class="field-validation-error"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPicture" class="text-uppercase">Bild</label>
        <input asp-for="NewPicture" class="form-control">
        <span asp-validation-for="NewPicture" class="field-validation-error"></span>
        <img src="~/img/Categories/@(Model.CategoryId)-@(Model.ImgVersion).png" alt="Category pic" style="height: 130px; width: auto" class="img-responsive" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" style="background-color: rgb(64, 145, 108)">Spara ändringar</button>
    </div>
</form>