@using StefanShopWeb.Data
@model  StefanShopWeb.ViewModels.ProductNewViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h1>Edit Produkt</h1>


<form method="post" asp-controller="Product" asp-action="Edit">
    <div>
        <label style="text-align:left" asp-for="ProductName">Namn</label>
        <input class="form-control" asp-for="ProductName">
        <span asp-validation-for="ProductName" class="field-validation-error"></span>
    </div>

    <div>
        <label style="text-align:left" asp-for="UnitPrice">Pris</label>
        <input class="form-control" asp-for="UnitPrice">
        <span asp-validation-for="UnitPrice" class="field-validation-error"></span>
    </div>

    <div>
        <label style="text-align:left" asp-for="UnitsInStock">Antal</label>
        <input class="form-control" asp-for="UnitsInStock">
        <span asp-validation-for="UnitsInStock" class="field-validation-error"></span>
    </div>

    <div>
        <label asp-for="QuantityPerUnit">Kvantitet per enhet</label>
        <input class="form-control" asp-for="QuantityPerUnit">
        <span asp-validation-for="QuantityPerUnit" class="field-validation-error"></span>
    </div>


    <div>
        <label asp-for="ReorderLevel">Ombeställ nivå</label>
        <input class="form-control" asp-for="ReorderLevel">
        <span asp-validation-for="ReorderLevel" class="field-validation-error"></span>
    </div>

    <div>
        <label asp-for="UnitsOnOrder">Enheter på beställning</label>
        <input class="form-control" asp-for="UnitsOnOrder">
        <span asp-validation-for="UnitsOnOrder" class="field-validation-error"></span>
    </div>

    <div class="form-group">
        <label asp-for="CategoryId">Kategori</label>
        <select class="form-control"
                asp-for="CategoryId"
                asp-items="Model.cateories"></select>
        <span asp-validation-for="CategoryId" class="field-validation-error"></span>
    </div>

    <div class="form-group">
        <label asp-for="SupplierId">Leverantör</label>
        <select class="form-control"
                asp-for="SupplierId"
                asp-items="Model.Suppliers"></select>
        <span asp-validation-for="SupplierId" class="field-validation-error"></span>
    </div>

    <button type="submit" class="btn btn-danger">Spara ändringen</button>

</form>